body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', monospace;
    background-color: #502b74; /* Pastel yellow background color */
    color: #f7f7f7; /* Dark gray text color */
}

h1 {
    font-size: 36px;
    color: #e2e2e2; /* Dark gray text color */
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px 0;
}

a {
    color:white;
}

img {
    width:150px;
    height: 150px;;
}

footer {
    padding: 30px;
}

.header {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    padding: 100px 0;
    color: white;
    width: 100%;
}

.navbar {
    text-align: center;
    background-color: #502b74; /* Pastel pink navbar background color */
    padding: 20px 0;
}

.navbar a {
    text-decoration: none;
    color: #dfdfdf; /* Dark gray text color */
    font-size: 18px;
    margin: 10px;
}

.navbar a:hover {
    color: #69b7ff; /* Pastel pink hover color */
}

.content {
    text-align: center;
    padding: 50px;
}

.experience-section {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.experience-column {
    flex: 1;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

.experience-header {
    font-size: 24px;
    color: white; /* Dark gray text color */
}

.experience-subheader {
    font-size: 18px;
    color: white; /* Dark gray text color */
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box {
    margin: 10px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    transition: opacity 0.3s;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.image-box:hover {
    opacity: 0.7;
}

.image-box:hover img {
    transform: scale(1.1);
}

.footer-left {
    float:left;
}

.footer-left p {
    font-size: 15px;
}

.footer-right {
    float:right;
}