body {
  margin: 0;
  padding: 0;
  font-family: "Dela Gothic One", monospace;
  background-color: #502b74;
  color: #f7f7f7;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

h1 {
  font-size: 100px;
  font-weight: 900;
  color: #e2e2e2;
  margin: 0;
  padding: 0;
}

p {
  font-size: 20px;
  line-height: 1.5;
  margin: 20px 0;
  padding-top: 0;
}

a {
  color: white;
  text-decoration: none;
}

td p {
  white-space: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  max-width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

img {
  width: 150px;
  height: 150px;
  padding: 0;
}

footer {
  color: white;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  background-color: #502b74;
}

#current-page {
  text-decoration: underline;
}

.header {
  background-size: cover;
  object-fit: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  padding: 100px 0;
  color: white;
  width: 100%;
}

.paragraph {
  max-width: 800px; /* Set a maximum width for the content */
  margin: 0 auto; /* Center the element horizontally */
  text-align: left; /* Left-justify the text */
  padding: 0 20px; /* Add padding to the sides for whitespace */
}

.navbar {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: #502b74;
  padding: 20px 0;
}

.navbar a {
  text-decoration: none;
  color: #dfdfdf;
  font-size: 18px;
  margin: 10px;
  font-weight: 900;
}

.navbar a:hover {
  color: #69b7ff;
}

.content {
  text-align: center;
  padding: 50px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-table, .education-table, .experience-table {
  overflow-x: auto;
}

.services-table td {
  font-size: 30px;
  font-weight: bolder;
  white-space: nowrap;
}

.education-table, .experience-table td {
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

.image-box {
  margin: 10px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  transition: opacity 0.3s;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.image-box:hover {
  opacity: 0.7;
}

.image-box:hover img {
  transform: scale(1.1);
}

.footer-left {
  text-align: left;
  margin-left: 10px;
  flex-direction: column;
}

.footer-left p {
  margin: 0;
  font-size: 15px;
}

.footer-right {
  text-align: right;
  margin-right: 10px;
}
